body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#chapters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chapter {
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    width: 80%;
    border-radius: 5px;
}
